<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>そっとおやすみ ONLINE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    このゲームは３～７人用となっています。<br/>
    <div id='app2'>
      <div id='sec4'>
        <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
        <br/>
        {% if gameid %}
        {% else %}
        <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
        Game ID: <span id='gId'></span><br/>
        <input type='text' id='uriWgId' /><input type='button' id='clickCopy' value='copy'><br/>
        {% endif %}
        Game Status: <span id='gStatus'></span><br/>
        <hr/>
        <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
        {% if gameid %}
        <input type='hidden' id="gId_inp" value='{{ gameid }}'><br/>
        {% else %}
        <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
        {% endif %}
        Your ID: <span id='cId'></span><br/>
        Your Name: <span id='cName'></span><br/>
        <hr/>
        <h2>Member Applying</h2>
        <span id='applyingList'></span>
        <br/>
      </div>
      <div id='sec1' style='display:none'>
        <hr/>
        <button id="startGame">ゲームを始める(Let's start the Game)</button><br/>
      </div>
      <br/>
      <span id='message'></span><br/>
      <div id='sec2' style='display:none'>
        <h2>Member Rotation</h2>
        <span id='routeList'></span>
        <hr/>
        <table border="0" width="200" height="100" cellpadding="5">
          <tr align="center">
            <td id='tdcard0' valign="middle"><table bgcolor="white" border="0" width="100%" height="100%"><tr align="center"><td valign="middle"><span id='card0'></span></td><tr></table></td>
            <td id='tdcard1' valign="middle"><table bgcolor="white" border="0" width="100%" height="100%"><tr align="center"><td valign="middle"><span id='card1'></span></td><tr></table></td>
            <td id='tdcard2' valign="middle"><table bgcolor="white" border="0" width="100%" height="100%"><tr align="center"><td valign="middle"><span id='card2'></span></td><tr></table></td>
            <td id='tdcard3' valign="middle"><table bgcolor="white" border="0" width="100%" height="100%"><tr align="center"><td valign="middle"><span id='card3'></span></td><tr></table></td>
            <td id='tdcard4' valign="middle"><table bgcolor="white" border="0" width="100%" height="100%"><tr align="center"><td valign="middle"><span id='card4'></span></td><tr></table></td>
            <td id='tdcard5' valign="middle"><table bgcolor="white" border="0" width="100%" height="100%"><tr align="center"><td valign="middle"><span id='card5'></span></td><tr></table></td>
          </tr>
          <tr align="center">
            <td valign="middle"><input type='radio' name='area' id='rCard0'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard1'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard2'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard3'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard4'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard5'/></td>
          </tr>
        </table>
        <br/>
        <input type='button' id='nextPlayer' value='次のユーザに渡す/Send)' /><br/>
        次の人に渡すカードを選んで「次のユーザに渡す」ボタンを押してください。<br/>
        You choose one which will pass to next player. and then push "Send" button<br/>
        <br/>
        <input type='button' id='sleep' value='おやすみなさい/Good night' /><br/>
        同じ絵柄のカードまたはジョーカーを含め４枚以上揃ったら、好きなタイミングで「おやすみなさい」ボタンを押してください。<br/>
        また、誰かが「おやすみなさい」ボタンを押した後は、カードが揃っていなくても押せます。<br/>
        If you have same charactor's card more 4 include Jocker, you can push "Good night" button anytime.<br/>
        or if someone has already pushed "Good night", you can push "Good night" button anytime also.<br/>
      </div>
      <div id='sec3' style='display:none'>
        <span id='sleptList'></span>
      </div>
    </div>
    <div id='result_win' style='display:none' title="you're">
      win
    </div>
    <div id='result_lose' style='display:none' title="you're">
      lose
    </div>
  </body>
</html>
