<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>そっとおやすみ ONLINE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id='app2'>
      <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
      <br/>
      <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
      Game ID: <span id='gId'></span><br/>
      Game Status: <span id='gStatus'></span><br/>
      <hr/>
      <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
      <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
      Your ID: <span id='cId'></span><br/>
      Your Name: <span id='cName'></span><br/>
      <hr/>
      <h2>Member Applying</h2>
      <span id='applyingList'></span>
      <br/>
      <div id='sec1' style='display:none'>
        <hr/>
        <button id="startGame">ゲームを始める(Let's start the Game)</button><br/>
      </div>
      <br/>
      <span id='message'></span><br/>
      <div id='sec2' style='display:none'>
        <h2>Member Rotation</h2>
        <span id='routeList'></span>
        <hr/>
        <table border="0" width="200" height="100">
          <tr align="center">
            <td id='tdcard0' valign="middle"><span id='card0'></span></td>
            <td id='tdcard1' valign="middle"><span id='card1'></span></td>
            <td id='tdcard2' valign="middle"><span id='card2'></span></td>
            <td id='tdcard3' valign="middle"><span id='card3'></span></td>
            <td id='tdcard4' valign="middle"><span id='card4'></span></td>
            <td id='tdcard5' valign="middle"><span id='card5'></span></td>
          </tr>
          <tr align="center">
            <td valign="middle"><input type='radio' name='area' id='rCard0'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard1'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard2'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard3'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard4'/></td>
            <td valign="middle"><input type='radio' name='area' id='rCard5'/></td>
          </tr>
        </table>
        <br/>
        <input type='button' id='nextPlayer' value='次のユーザに渡す' />
        <br/><br/>
        <input type='button' id='sleep' value='おやすみなさい' />
      </div>
      <div id='sec3' style='display:none'>
        <span id='sleptList'></span>
      </div>
    </div>

    <script>
    var timeout = 1000;
    var timer = '';

    $(function() {
      var gId = '';
      var cId = '';

      // Create Game
      $('#createGame').click(function() {
        $('#message').empty();
        $.ajax('create' + '/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#gId').text(data);
          $('#cId').text(data);
          $('#cName').text($('#cName_inp').val());
          $('#gStatus').text('waiting');
          gId = data;
          cId = data;
          $('#sec1').show();
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Join Game
      $('#joinGame').click(function() {
        $('#message').empty();
        $.ajax($('#gId_inp').val() + '/join/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          _tmp = data.split(' ,');
          $('#cId').text(_tmp[0]);
          $('#cName').text(_tmp[1]);
          $('#gStatus').text(_tmp[2]);
          gId = $('#gId_inp').val();
          cId = _tmp[0];
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Start Game
      $('#startGame').click(function() {
        $('#message').empty();
        $.getJSON(gId + '/start',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $("#sleep").attr('disabled', false);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Go to sleep
      $('#sleep').click(function() {
        $('#message').empty();
        // put your card
        $.ajax(gId + '/' + cId + '/sleep',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#message').text(data);
          $("#nextPlayer").attr('disabled', true);
          $("#sleep").attr('disabled', true);
          $('#sec3').show();
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Next player
      $('#nextPlayer').click(function() {
        $('#message').empty();
        $.ajax(gId + '/' + cId + '/next/' + $('input[name="area"]:checked').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          // console.log(data)
          $('#message').text('次の人に移動しました');
          $('#nextPlayer').attr('disabled', true);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });
    });

    var status_check = function(gId, cId){
      setTimeout(function(){
        $('#message').empty();
        // all status
        $.getJSON(gId + '/status',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          console.log(data)
          $('#gStatus').text(data.status);
          playerPos = 0;

          // Applying List
          $('#applyingList').empty();
          for(var pIdx in data.players){
            // console.log(data.players[pIdx])
            $('#applyingList').append(data.players[pIdx].nickname + '(' + data.players[pIdx].playerid + ')' + ',');
            if(cId == data.players[pIdx].playerid){
              playerPos = pIdx;
            }
          }

          if(data.status == 'started'){
            $('#sec2').show()
            // route List
            $('#routeList').empty();
            for(var rIdx in data.routelist){
              if(data.routelist[rIdx].playerid == data.routeid){
                $('#routeList').append('<b>&gt;' + data.routelist[rIdx].nickname + '</b><br/>');
              }else{
                $('#routeList').append(data.routelist[rIdx].nickname + '<br/>');
              }
            }

            // game cards
            holdcards = data.players[playerPos].holdcards;
            for(var i = 0; i < 6; i++){
              if(i < holdcards.length){

                // switch(Math.floor(holdcards[i] / 5)){
                switch(holdcards[i] % 5){
                  case 0:
                    $('#tdcard'+i).css("background-color","#e55050");
                    break;
                  case 1:
                    $('#tdcard'+i).css("background-color","#50b4e5");
                    break;
                  case 2:
                    $('#tdcard'+i).css("background-color","#e5b450");
                    break;
                  case 3:
                    $('#tdcard'+i).css("background-color","#50e550");
                    break;
                }
                if(holdcards[i] % 5 == 4){
                  $('#card'+i).text('J');
                  $('#tdcard'+i).css("background-color","#b450e5");
                }else{
                  $('#card'+i).text(Math.floor(holdcards[i] / 5));
                }
                $('#rCard'+i).val(holdcards[i]);
                $('#rCard'+i).show();
              }else{
                $('#card'+i).text('');
                $('#tdcard'+i).css("background-color","#fff");
                $('#rCard'+i).val('');
                $('#rCard'+i).css('display', 'none');
              }
            }

            $('#sleptList').text('')
            for(var sIdx in data.slept){
              $('#sleptList').append(data.slept[sIdx].nickname + ',');
            }

            // checking turn
            if(data.routeid == cId){
              $('#nextPlayer').attr('disabled', false)
              $('#sleep').attr('disabled', true)
            }else{
              $('#nextPlayer').attr('disabled', true)
              if(!data.players[playerPos].status){
                $('#sleep').attr('disabled', false)
              }else{
                $('#sleep').attr('disabled', true)
              }
            }
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
        timer = setTimeout(status_check(gId, cId), timeout)
      }, timeout);
    }

    </script>
  </body>
</html>
